<div class="container-fluid">
        <%= link_to "samen op reis", root_path, id: "logo" %>
        <nav class="navbar navbar-inverse" role="navigation">
          <ul class="navbar navbar-inverse">
           <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Registreren", signup_path %></li>
            <% if signed_in? %>
  <li><%= link_to "Reizigers", users_path %></li>            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profiel", current_user %></li>
  <li><%= link_to "Instellingen", edit_user_path(current_user) %></li>                <li class="divider"></li>
                  <li>
                    <%= link_to "Log uit", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", signin_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
